body{

	background-color: mistyrose;
}

.img_head{
	width:100%;
}

.img_footer{
	width:10%;
}

a{
	color:#000;
	font-size:16px;
	font-weight:bold;
	text-decoration: none;
	margin-right:50px;
}

a:hover{
	color:orange;
	font-size:16px;
	font-weight:bold;
	text-decoration: none ;
}

a:active{
	color: #CCC;
}

.nav{
	font-family: sans-serif;
	margin-left:10px;
	margin-top:10px;
	text-align: right;
	border: 1px solid;
}

.navhere{
	color:#999;

}