* {
    box-sizing: border-box;
    margin:0;
}

/* ==== GRID SYSTEM ==== */


.parent-container { display: flex; justify-content: center; }
.child-container { max-width: 960px; }


.container {
  width: 1200px;
  margin:auto;
  color:white;
}

.row {
  max-width: 960px;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.row [class^="col"] {
  float: left;
  margin: 0% 0%;
  min-height: 0.125rem;
}


.col-1 {
    width: 8.33%;
    background: rgba(0, 99, 71,.1);
  }

  .col-2 {
    width: 16.66%;
    background: rgba(0, 99, 71,.2);
  }

  .col-3 {
    width: 25%;
    background: rgba(0, 99, 71,.3);   
  }

  .col-4 {
    width: 33.33%;
    background: rgba(0, 99, 71,.4);
  }

  .col-5 {
    width: 41.67%;
    background: rgba(0, 99, 71,.5);
  }

  .col-6 {
    width: 50%;
    background: rgba(0, 99, 71,.5);
  }
  

  .col-7 {
    width: 58.33%;
    background: rgba(0, 99, 71,.57);
  }

  .col-8 {
    width: 66.67%;
    background: rgba(0, 99, 71,.64);
  }

  .col-9 {
    width: 75%;
    background: rgba(0, 99, 71,.75);
  }

  .col-10 {
    width: 83.33%;
    background: rgba(0, 99, 71,.82);
  }

  .col-11 {
    width: 91.67%;
    background: rgba(0, 99, 71,.89);
  }

  .col-12 {
    width: 100%;
    background: rgba(0, 99, 71,1);
  }

  .col-13 {
    width: 1%;
    background: rgba(255, 0, 255,1);
  }

  .col-14 {
    width: 99%;
    background: rgba(255, 0, 255, .8);
  }

  .col-15 {
    width: 11%;
    background: rgba(255, 0, 255, .6);
  }  

  .col-16 {
    width: 89%;
    background: rgba(255, 0, 255, .4);
  }

  .col-17 {
    width: 24%;
    background: rgba(255, 0, 255, .2);
  }

  .col-18 {
    width: 76%;
    background: rgba(255, 0, 255, .05);
  }

/* This is clearfix, clearing content after each row*/
.row::after {
	content: "";
	display: table;
	clear: both;
}

div [class^="col"] {
    height:100px;
    border: 1px solid white;
   
}